html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background: #fff;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

ol, ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 7%;
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
section{
  padding: 2vh;
}
section i {
  margin: 10px 10px 10px 10px;
}
.left-bar {
  width: 40%;
  flex-direction: row;
}
.right-bar {
  width: 60%;
  opacity: 0.8;
}
.photo {
  width: 320px;
  height: 320px;
}
.tools-list ul {
  padding-top: 1vh;
}
h3 {
  font-weight: 400;
}
.profession {
  font-weight: 700;
}






/* .theme {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.theme i {
  cursor: pointer;
} */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #181818;
  }
  .wrapper {
    filter: invert(100%);
  }
  
}